body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-image: url(../images/pattern.png); /* Background pattern provided by subtlepatterns.com */
	width: 900px;
	margin: 1em auto;
}

a { text-decoration: none }
a:hover { text-decoration: underline }
a:visited { color: inherit }

#logo {
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	font-size: 5em;
	padding-left: 1.35em;
}

#logo:before {
	content: 'liceo';
	color: #333
}

#logo:after {
	content: 'Moscati';
	color: #D86C00
}

#istituzioni {
	margin: .1em;
	font-size: 4em;
	clear: right
}

.minilogo {
	margin: .15em .1em;
	float: right;
	background-size: contain;
	background-repeat: no-repeat;
	height: 1em
}

.cdg {
	background-image: url(../images/cdg.png);
	width: .7em;
}

.pdt {
	background-image: url(../images/pdt.png);
	width: .73em;
}

.miur {
	background-image: url(../images/miur.png);
	width: .87em;
}

#modulo-cerca {
	float: right
}

#modulo-cerca input {
	width: 13em;
	padding: .4em 1em;
	border-radius: 1em;
	border: 1px solid #CCC;
	font-family: 'Open Sans', sans-serif;
}

#modulo-cerca input:hover, #modulo-cerca input:focus {
	border-color: #999;
}

#wrapper {
	background: #F9F9F9;
	border: 1px solid #CCC
}

#wrapper h1 {
	margin: 0;
	font-size: 1.5em
}

#wrapper aside h1 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.7em
}

#wrapper aside {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	float: right;
	width: 30%;
	padding: 1.5em
}

#wrapper article {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Andada', serif;
	width: 70%;
	padding: 1.5em
}

#quicklinks h1 {
	cursor: pointer;
	font-weight: 300;
	margin: 0.5em;
}

#quicklinks[data-show=yes] > h1 {
	/*border-bottom: .05em solid #333;*/
}

#quicklinks h1:after {
	padding-left: .3em;
	-webkit-transition: transform .3 ease;
	transition: transform .3s ease;
	display: inline-block;
	content: '>';
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#quicklinks[data-show=yes] > h1:after {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

#quicklinks ul {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	transition: all .3s ease;
	max-height: 13em;
	overflow: hidden
}

#quicklinks[data-show=no] > ul {
	max-height: 0
}

#quicklinks li {
	float: left;
	width: 25%;
	padding: 0 .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	height: 13em
}

#quicklinks li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display: block;
	border: 2px solid #CCC;
	border-radius: 25px;
	padding: .8em;
	color: inherit;
	text-decoration: inherit;
}

#quicklinks li a:hover {
	border-color: #999;
}

#quicklinks h1 {
	font-size: 2em;
	text-transform: uppercase
}

#quicklinks h2, h3 {
	font-family: 'Andada', serif;
	font-weight: 300;
}

#quicklinks h2 {
	text-align: center;
}

#quicklinks h3 {
	text-align: center;
	font-style: italic;
	font-size: 1em;
}

header nav ul {
	list-style: none;
	padding: 0
}

header nav ul li { float: left }
header nav ul li:after { content: "|"}
header nav ul li:last-child:after { content: "" }

header nav ul li a {
	font-family: 'Andada', serif;
	font-weight: 300;
	font-size: 1.1em;
	padding: .2em;
	color: inherit;
	text-decoration: none;
}

header nav ul li a:hover { text-decoration: underline }

footer {
	margin: 2em 0;
	clear: left
}