body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background-image: url(../images/pattern.png); /* Background pattern provided by subtlepatterns.com */
	margin: 0;
}

#mobile-head {
	display: block
}

#mobile-head #mobile-logo {
	position: relative;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	padding-left: 2.9em;
	font-size: 2.5em;
	height: 2.7em;
}

#mobile-logo:before {
	color: #333;
	content: "liceo\A";
	font-size: .9em;
	white-space: pre;
}

#mobile-logo:after {
	color: #D86C00;
	position: absolute;
	top: .5em;
	left: 1.8em;
	font-size: 1.5em;
	content: "Moscati"
}

#mobile-head ul {
	border-top: 1px solid #CCC;
	margin: 0;
	padding: 0;
	list-style: none
}

#mobile-head li:first-child {
	border-right: 1px solid #CCC;
}

#mobile-head li {
	background: #FFF;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	width: 50%;
	text-transform: uppercase;
	text-align: center;
	padding: .6em;
	font-size: 1.1em;
	float: left
}

#mobile-head li:after {
	padding-left: .3em;
	-webkit-transition: transform .3 ease;
	transition: transform .3s ease;
	display: inline-block;
	content: '>';
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

#mobile-head li[data-enabled-menu=yes]:after {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

a { text-decoration: none }
a:hover { text-decoration: underline }
a:visited { color: inherit }

#modulo-cerca input {
	width: 100%;
	font-size: 1.15em;
	padding: .4em 1em;
	border: none;
	border-bottom: 1px solid #CCC;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0
}

#logo, #istituzioni, nav h1, #quicklinks h3 {
	display: none
}

#logo:before {
	content: 'liceo';
	color: #333
}

#logo:after {
	content: 'Moscati';
	color: #D86C00
}

nav ul {
	clear: both;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	transition: all .3s ease;
	max-height: 19em;
	overflow: hidden
}

header nav ul {
	max-height: 20em
}

nav[data-show=no] > ul {
	max-height: 0
}

nav li a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	display: block;
	background-color: #FFF;
	border-top: 2px solid #CCC;
	padding: .8em;
	color: inherit;
	text-decoration: inherit;
}

nav li:last-child a {
	border-bottom: 2px solid #CCC
}

#quicklinks h2 {
	margin: 0;
	font-family: 'Andada', serif;
	font-weight: 300;
}

#wrapper {
	clear: both;
	background-color: #F6F6F6;
	border-bottom: 2px solid #CCC;
	margin-bottom: 1.5em;
	overflow: auto
}