.minilogo:last-child {
	clear: both
}

#quicklinks ul {
	max-height: 22em
}	

#quicklinks ul li {
	width: 50%
}

#quicklinks ul li:nth-child(3) {
	clear: left
}

@media (min-width: 600px) and (max-width: 767px)
{
	#modulo-cerca {
		clear: both
	}

	#logo {
		margin-top: .5em;
		clear: both
	}
	
	#quicklinks ul {
		max-height: 24em
	}
	
	.minilogo {
		display: none
	}
}